body{
   /*  background-color: red;*/
} 

.container{
    justify-content: center;
    align-items: center;
    display: flex;
}

.background{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: red;
    padding-inline: 2rem;
    max-width: 40%;
    height: 100%;
}

.logo {
    width: 100%;
    margin-bottom: 1rem;
}

.logo img{
    width: 20%;
    object-fit: cover;
}

.header{
    text-align: start;
}

.header h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0.75rem;
}

.header p{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 1.25rem;
}

label {
    margin-bottom: 0.375rem;
    font-weight: 600;
}

form{
    align-items: start;
    text-align: start;
    width: 100%;
}

form div{
    /* box-sizing: border-box; */
    border: 0 solid #e5e7eb;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-input{
    border-radius: 0.375rem;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(224 230 237 / var(--tw-border-opacity));
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding: 0.5rem 1rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(14 23 38 / var(--tw-text-opacity));
    outline: 2px solid #0000;
    outline-offset: 2px;
}

.or{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-block: 1rem;
    gap: 20px;
}

.left, .right{
    border-top: 1px solid grey;
    width: 100%;
}