*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: sticky;
    top: 0;
    background-color: #e8edf5;
    color: #212529;
    font: 16px 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    /* border-bottom: 0.3px solid rgba(104, 100, 100, 0.5);
    box-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.5); */
}

body{
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
    overflow-y: auto;
    overflow-x: hidden;
    color: #212529;
    /* background: #e8edf5; */
    font: 16px;
}

.header-one{
    display: flex;
    justify-content: space-evenly;
    padding: 1.2rem 0rem;
    font-weight: 700;
}

.logo img{
    width: 100px;
    object-fit: cover;
}

.nav{
    display: flex;
    gap: 30px;
}

.nav a{
    text-decoration: none;
    color: #212529;
    font-weight: 500;
    font-size: 20px;
}

.header-one div:last-child{
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-one div:last-child a{
    text-decoration: none;
    color: #212529;
    font-weight: 500;
    font-size: 20px;
}

.header-one div:last-child a:last-child{
    color: white;
    background-color: #4169e1;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 20px;
    transition: all 0.3s;
}

.section-one{
    text-align: center;
    padding-top: 2rem;
    /* margin-top: 6rem; */
    background: #e8edf5;
}

.housing{
    display: flex;
    justify-content: center;
}

.sms{
    width: 50%;
    justify-content: center;
    text-align: left;
}

.sms h1{
    font-size: 3.5rem;
    font-weight: 800;
    color: #1a1a1a;
    line-height: 1.2;
    margin-bottom: 2rem;
    letter-spacing: -0.02em;
    line-height: 1.5;
}

.sms p{
    color: #5a5a5a;
    line-height: 1.7;
    font-weight: 400;
    font-size: 25px;
    width: 64%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.sms div{
    display: flex;
    gap: 2%;
}

.btn-now {
    color: white;
    font-weight: 600;
    font-size: 20px;
    background-color: #4169e1;
    padding: 14px 32px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
    /* padding: 10px 24px; */
    transition: all 0.3s;
}

.btn-info{
    text-decoration: none;
    padding: 14px 32px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    color: #1a1a1a;
    background: transparent;
    border: 2px solid #1a1a1a;
    transition: all 0.3s;
}

.last img{
    height: 600px;
    width: 500px;
}

.service-icons{
    margin-top: 5%;
    text-align: center;
}

.service-icons p{
    color: #9ca3af;
    font-size: 20px;
    margin-bottom: 2%;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    flex-wrap: wrap;
    opacity: 0.4;
}

.icons img:hover{
    background-color: transparent;
    scale: 1.5;
}

.icons img {
    width: 45px;
    height: 45px;
    padding: 7px;
    border-radius: 50%;
    transition: all 0.5s;
}

.section-two{
    text-align: center;
    background-color: white;
    padding: 80px 0;
}

.section-two h2{
    font-size: 40px;
    margin-bottom: 50px;
}

span{
    color: #2937f0;
}

.row{
    justify-content: center;
    display: flex;
    gap: 80px;
}

.encompass{
    background: #f9fafb;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s;
}

.numbers{
    gap: 100px;
    display: flex;
}

.line{
    gap: 50px;
    display: flex;
    align-items: center;
   /*  flex: 1; */
}

.us{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.amazon{
    gap: 10px;
}

.amazon div:first-child{
    font-weight: 600;
    color: #1a1a1a;
    font-size: 20px;
}

.amazon div:last-child{
    font-size: 18px;
    color: #6b7280;
}

.stats{
    display: flex;
    align-items: center;
    gap: 20px;
}

.orders{
    color: #6b7280;
    font-size: 18px;
    font-weight: 700;
}

.price{
    color: #1a1a1a;
    font-size: 18px;
    font-weight: 700;
}

.order-now{
    background: #4169E1;
    color: #ffff;
    text-decoration: none;
    border: none;
    border-radius: 8px;
    padding: 10px 24px;
    font-weight: 600;
    font-size: 18px;
    transition: all 0.3s;
}

.services{
    margin-top: 50px;
}

.services a{
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
    background: transparent;
    text-decoration: none;
    border-radius: 8px;
    padding: 10px 24px;
    font-weight: 700;
    font-size: 18px;
    transition: all 0.3s;
}

.services a:hover{
    background-color: #1a1a1a;
    color: white;
    border-color: #2937f0;
    transform: translateY(-1px);
}

.reviews{
    display: flex;
    align-items: center;
}

.banner{
    text-align: center;
    padding: 60px 0;
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.banner-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

.banner-icons img{
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 50%;
    background: #f3f4f6;
}


.banner-icons p {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f3f4f6;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    text-transform: uppercase;
}

.banner h3{
    font-size: 3.5rem;
    font-weight: 700;
    color: #4169E1;
    margin-bottom: 5px;
}

.figures{
    font-size: 2.8rem;
    font-weight: 700;
    color: #4169E1;
}

.section-three{
    background-color: #f9fafb;
    padding: 80px 0px;
    text-align: center;
}

.section-three h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 10px;
}

.house-one{
    display: flex;
    justify-content: center;
    align-items: center;
}

.house-three{
    display: flex;
}

.house-three img{
    width: 50px;
    height: inherit;
}

.lodge{
    /* width: 50%; */
}

.lodge img{
    width: 350px;
    height: 500px;
}

.section-four{
    text-align: center;
    background-color: #f0f4f8;
    padding: 80px 0;
}

.notes{
    display: flex;
    align-items: center;
    justify-content: center;
}

.notes div:first-child{
    max-width: 600px;
}

.notes div:first-child h2{
    font-size: /* 2.5rem */ 5.5rem; 
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 20px;
    text-align: left;
}

.notes div:first-child p{
    color: #6b7280;
    line-height: 1.7;
    font-size: /* 1rem */1.5rem;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left;
}

.review-pic{
    flex: 0 0 auto;
    width: 40.33333333%;
}

.review-pic img{
    width: 100%;
    border-radius: 20px;
}

.section-five{
    background: white;
    padding: 80px 0;
}